@{
    ViewBag.Title = "Home Page";
}






<html lang="en">
<!--头部-->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content='width=device-width, initial-scale=1, width=device-width'>

    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/styles.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="shortcut icon" href="~/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="~/Content/component.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/default.css" />
    <script src="~/scripts/modernizr.custom.js"></script>

</head>
<!--主体-->
<body class="idance">
    <!--载入页面-->
    <div class="loading-screen" id="loadingScreen">
        <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-expand-md navbar-top">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#" data-scroll-goto="0">Time 2 GO </a>
            <!-- Navbar toggler. Shown for mobile devices (https://getbootstrap.com/docs/4.0/components/navbar/#toggler) -->
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#idanceNav"
                    aria-controls="idanceNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>

            <!-- Navbar -->
            <div class="collapse navbar-collapse" id="idanceNav">
                <i class="fa fa-times close-navbar-mobile" aria-hidden="true" data-toggle="collapse" data-target="#idanceNav"></i>
                <ul class="navbar-nav ml-auto">
                    <li><a href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>
                    <li><a href="@Url.Action("SportsIntroduction","Home")" class="nav-link">Sports Introduction</a></li>
                    <li><a href="@Url.Action("SportsLocation","Home")" class="nav-link">Sports Location</a></li>
                    <li><a href="@Url.Action("Calories","Home")" class="nav-link">Calorie Schedule</a></li>
                    <li><a href="@Url.Action("Weather","Home")" class="nav-link">Weather</a></li>
                    <li><a href="@Url.Action("Food","Home")" class="nav-link">Healthy Eating</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--运动计划信息输入页面-->
    <section class="sportsCalories content-block bg-darken">
        <div class="container">
            <h2 data-aos="zoom-in-up" style="color:white;"><b>Calroies Schedule</b></h2>
            <div class="row" style="border-radius：50px">
                <div class="main clearfix bg-darken" style="color: #ffe8e7;border-radius：50px">
                    <form action="/Home/Calories" method="get" id="nl-form" class="nl-form" style="border-radius：50px">
                        <div class="formNumberOne">
                            l want to lose weight,l am
                            <input type="text" id="weight" name="weight" style="width:50px;height:auto;z-index:9999;display:inline;color:rgb(154, 205, 50);text-align:center;" class="textinput" value="55">
                            kgs now</br>
                            l would like take part in
                            <select id="searchSports1" name="searchSports1" style="overflow:scroll;max-height: 200px;color:black;">
                                <option value=""></option>
                                <option value="Aerobics" selected>Aerobics</option>
                                <option value="Archery">Archery</option>
                                <option value="Australian Rules Football">Australian Rules Football</option>
                                <option value="Badminton">Badminton</option>
                                <option value="Baseball">Baseball</option>
                                <option value="Basketball">Basketball</option>
                                <option value="Bocce">Bocce</option>
                                <option value="Boxing">Boxing</option>
                                <option value="Cricket">Cricket</option>
                                <option value="Croquet">Croquet</option>
                                <option value="Cycling">Cycling</option>
                                <!--
                <option value="Dancing">Dancing</option>
            <option value="Fitness">Fitness</option>
            <option value="Golf">Golf</option>
            <option value="Gridiron">Gridiron</option>
            <option value="Gymnastics">Gymnastics</option>
            <option value="Hockey">Hockey</option>
            <option value="Karate">Karate</option>
            <option value="Lacrosse">Lacrosse</option>
            <option value="Lawn Bowls">Lawn Bowls</option>
            <option value="Martial Arts">Martial Arts</option>
            <option value="Netball">Netball</option>
            <option value="Rugby League">Rugby League</option>
            <option value="Sailing">Sailing</option>
            <option value="Skating">Skating </option>
            <option value="Soccer">Soccer</option>
            <option value="Softball">Softball</option>
            <option value="Swimming">Swimming</option>
            <option value="Table Tennis">Table Tennis</option>
            <option value="Tennis">Tennis</option>
            <option value="Volleyball">Volleyball</option>
            -->

                            </select>
                            l would like to perform this activity
                            <select id="frequence1" name="frequence1">
                                <option value=""></option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            times per week,l would like spend
                            <select id="duration1" name="duration1">
                                <option value=""></option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            hour(s) per session.
                            <button type="button" class="btn btn-success" id="bt1" style="background-color:#69B1A9;color:white;"><b>Add One More Plan</b></button>
                        </div>
                        <div id="formNumberTwo" style="display:none">
                            l also like take part in
                            <select id="searchSports2" name="searchSports2" style="overflow:scroll;max-height: 200px;color:black;">
                                <option value=""></option>
                                <option value="Aerobics" selected>Aerobics</option>
                                <option value="Archery">Archery</option>
                                <option value="Australian Rules Football">Australian Rules Football</option>
                                <option value="Badminton">Badminton</option>
                                <option value="Baseball">Baseball</option>
                                <option value="Basketball">Basketball</option>
                                <option value="Bocce">Bocce</option>
                                <option value="Boxing">Boxing</option>
                                <option value="Cricket">Cricket</option>
                                <option value="Croquet">Croquet</option>
                                <option value="Cycling">Cycling</option>
                                <!--
                <option value="Dancing">Dancing</option>
            <option value="Fitness">Fitness</option>
            <option value="Golf">Golf</option>
            <option value="Gridiron">Gridiron</option>
            <option value="Gymnastics">Gymnastics</option>
            <option value="Hockey">Hockey</option>
            <option value="Karate">Karate</option>
            <option value="Lacrosse">Lacrosse</option>
            <option value="Lawn Bowls">Lawn Bowls</option>
            <option value="Martial Arts">Martial Arts</option>
            <option value="Netball">Netball</option>
            <option value="Rugby League">Rugby League</option>
            <option value="Sailing">Sailing</option>
            <option value="Skating">Skating </option>
            <option value="Soccer">Soccer</option>
            <option value="Softball">Softball</option>
            <option value="Swimming">Swimming</option>
            <option value="Table Tennis">Table Tennis</option>
            <option value="Tennis">Tennis</option>
            <option value="Volleyball">Volleyball</option>
            -->

                            </select>
                            l would like to perform this activity
                            <select id="frequence2" name="frequence2">
                                <option value=""></option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            times per week,l would like spend
                            <select id="duration2" name="duration2">
                                <option value=""></option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            hour(s) per session.
                            <button type="button" class="btn btn-success" style="background-color:#69B1A9;color:white;" id="bt2"><b>Add One More Plan</b></button>
                        </div>
                        <div id="formNumberThree" style="display:none">
                            l also like take part in
                            <select id="searchSports3" name="searchSports3" style="overflow:scroll;max-height: 200px;color:black;">
                                <option value=""></option>
                                <option value="Aerobics" selected>Aerobics</option>
                                <option value="Archery">Archery</option>
                                <option value="Australian Rules Football">Australian Rules Football</option>
                                <option value="Badminton">Badminton</option>
                                <option value="Baseball">Baseball</option>
                                <option value="Basketball">Basketball</option>
                                <option value="Bocce">Bocce</option>
                                <option value="Boxing">Boxing</option>
                                <option value="Cricket">Cricket</option>
                                <option value="Croquet">Croquet</option>
                                <option value="Cycling">Cycling</option>
                                <!--
                <option value="Dancing">Dancing</option>
            <option value="Fitness">Fitness</option>
            <option value="Golf">Golf</option>
            <option value="Gridiron">Gridiron</option>
            <option value="Gymnastics">Gymnastics</option>
            <option value="Hockey">Hockey</option>
            <option value="Karate">Karate</option>
            <option value="Lacrosse">Lacrosse</option>
            <option value="Lawn Bowls">Lawn Bowls</option>
            <option value="Martial Arts">Martial Arts</option>
            <option value="Netball">Netball</option>
            <option value="Rugby League">Rugby League</option>
            <option value="Sailing">Sailing</option>
            <option value="Skating">Skating </option>
            <option value="Soccer">Soccer</option>
            <option value="Softball">Softball</option>
            <option value="Swimming">Swimming</option>
            <option value="Table Tennis">Table Tennis</option>
            <option value="Tennis">Tennis</option>
            <option value="Volleyball">Volleyball</option>
            -->

                            </select>
                            l would like to perform this activity
                            <select id="frequence3" name="frequence3">
                                <option value=""></option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            times per week,l would like spend
                            <select id="duration3" name="duration3">
                                <option value=""></option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            hour(s) per session.
                        </div>
                        <div class="nl-submit-wrap">
                            <button id="Button1" class="nl-submit" type="submit" style="text-align:center">Confirm</button>
                        </div>

                        <div id="result" style="font-size:30px;color:white">
                            <div>
                                <p class="text-center">@ViewBag.mess1</p>
                            </div>
                            <div>
                                <p class="text-center">@ViewBag.mess2<p>
                            </div>
                        </div>
                        <div class="nl-overlay"></div>

                        <div id="visual"> <!--可视化部分-->
                            <svg></svg>
                            <script src="https://d3js.org/d3.v4.min.js"></script>
                            <script>


                                let dataset = [];
                                let totalLostCalorie = 9000;//用计算出的单月总减卡路里值替换9000

                                for (let i = 1; i <= 30; i++) {
                                    dataset.push([i, totalLostCalorie * i / 30])
                                }
                                console.log(dataset)


                                const w = 500;
                                const h = 500;
                                const padding = 60;

                                const xScale = d3.scaleLinear()
                                    .domain([0, d3.max(dataset, (d) => d[0])])
                                    .range([padding, w - padding]);

                                const yScale = d3.scaleLinear()
                                    .domain([0, d3.max(dataset, (d) => d[1])])
                                    .range([h - padding, padding]);

                                const svg = d3.select("body")
                                    .append("svg")
                                    .attr("width", w)
                                    .attr("height", h);

                                svg.selectAll("circle")
                                    .data(dataset)
                                    .enter()
                                    .append("circle")
                                    .attr("cx", (d) => xScale(d[0]))
                                    .attr("cy", (d) => yScale(d[1]))
                                    .attr("r", (d) => 5);

                                svg.selectAll("circle")
                                    .data(dataset)
                                    .append("title")
                                    .text((d, i) => (dataset[i][1]));

                                svg.select("line")
                                    .enter()
                                    .append("line")
                                    .attr("x1", 0)
                                    .attr("x2", xScale(30))
                                    .attr("y1", 0)
                                    .attr("y2", yScale(9000))
                                    .attr("stroke", "#3498DB")
                                    .attr("stroke-width", 2);

                                const xAxis = d3.axisBottom(xScale);
                                // Add your code below this line
                                const yAxis = d3.axisLeft(yScale);


                                // Add your code above this line
                                svg.append("g")
                                    .attr("transform", "translate(0," + (h - padding) + ")")
                                    .call(xAxis);
                                svg.append("text")
                                    .attr("x", xScale(15))
                                    .attr("y", h - padding + 40)
                                    .text("Day")


                                // Add your code below this line
                                svg.append("g")
                                    .attr("transform", "translate(60," + "0)")
                                    .call(yAxis);
                                svg.append("text")
                                    .attr("x", 0)
                                    .attr("y", 40) //这里需要用计算出的数据替换9000
                                    .text("Calories")

                                // Add your code above this line

                            </script>
                        </div>



                        <script id="script1" type="text/javascript">
                            window.onload = function abc() {
                                var d2 = document.getElementById("formNumberTwo");
                                var d3 = document.getElementById("formNumberThree");

                                var bt1 = document.getElementById("bt1");
                                var bt2 = document.getElementById("bt2");

                                bt1.onclick = function () {
                                    d2.style.display = "block";
                                    bt1.style.display = "none";
                                }

                                bt2.onclick = function () {
                                    d3.style.display = "block";
                                    bt2.style.display = "none";
                                }
                            }
                        </script>


                    </form>
                </div>

            </div>


        </div>
    </section>



    <script src="~/scripts.min.js"></script>
    <script src="~/scripts/nlform.js"></script>
    <script>
        var nlform = new NLForm(document.getElementById('nl-form'));
    </script>
    <script>
        $(document).ready(function () {
            $(".textinput").css("display", "inline");
        });
    </script>

</body>
</html>
